<!DOCTYPE html>
<html>
    <head>
        <title>My Blog</title>
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}" />
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top navbar-inverse">
          <div class="container">
            <ul class="nav navbar-nav">
              <li class="active">
                <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Blog Posts <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ url_for('posts', name='hello_world') }}">Post 1<</a></li>
                  </ul>
              </li>
            </ul>
          </div>
        </nav>
    <body>
        <div class="container">
            <div class="row">
                <h3>Lambda calculus</h3>
                <p>In our first session we studied the use of "lambda" and "if" with John "Hero Wizard Demigod" Aspden. John's 'hands off' approach allowed us to collaborate as a group and solve various issues, whilst encouraging us to think practically for solutions. The contents of the lesson concluded in us writng a program that checks if an integer is > 0 then, if not, converts it to its absolute value.

The final program looked like this:

(define absl (lambda (x) (if (> x 0) x(- x))))
(absl -32) 

The result being the program printing "32".</p>
            </div>
          </div>
        </div>
        <div class="container">
            <div class="row">
                <h3>Lazyness</h3>
                <p>In our first session with Billy Mayor, we were informed on the necessity of problem solving and lazyness as a software engineer. He discussed the fundamental basics of problem solving; how to identify a problem, what are the different types of problem, why we need to solve the problem. After considering problem solving, Billy progressed onto informing us on what is appropriate lazyness and why it is needed. He gave us two useful acronyms: DRY (don't repeat yourself) and KISS (keep it simple, stupid). Armed with this knowledge we are now able to maximise work efficiency whilst simultaneously doing a job to the highest standard attainable. The combination of problem solving and lazyness are the core to working professionaly as a software engineer, as abiding by these rules will allow you to produce the best work possible in the shortest time.</p>
            </div>
          </div>
        </div>
    </body>
</html>
